.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


ul li {
  margin: 5%;
}

.sidebar{
  width:10%
}


.showmore ul {
  opacity: 1;
  animation: showmore-fade 2s linear;
}


@keyframes showmore-fade {
0%,100% { opacity: 0 }
50% { opacity: 1 }
}

.product-imgs{
  display: flex;
  max-width:50%;
}

.product-thumbnails{
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

.main-img{
  overflow: hidden;
  max-width: 60%;  
}

.main-img:not(:hover) img{
  transform: scale(1);
  transform-origin: 0% 0%
}

.main-img:hover img{
  transform: scale(1.5);
  transition: transform .5s ease-out;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


